<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Never go full retard</title>

    <meta name="description" content="You went full retard, man. Never go full retard."/>
    <meta property="og:description" content="You went full retard, man. Never go full retard."/>

    <meta property="og:type" content="movie"/>
    <meta property="og:image" content="http://<%= @request.host_with_port %>/downey.jpg"/>

    <link rel="canonical" href="<%= @request.url %>"/>
    <meta property="og:url" content="<%= @request.url %>"/>

    <style>
      body {
        font-family: "Times New Roman",Georgia,Serif;
        text-align: center;
      }

      #summary {
        clear: both;
        margin-top: 40px;
      }

      #share-buttons {
        width: 853px;
        margin: 10px auto;
      }

      #share-buttons > div {
        float: left;
      }

      #share-buttons .twitter {
        margin-right: -13px;
      }

      #share-buttons .plus {
        margin-right: -10px;
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-761701-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <h1>Never go full retard</h1>

    <div id="player">
      <iframe width="853" height="480" src="http://www.youtube.com/embed/WNl6hZdZJtQ?rel=0&amp;wmode=transparent&amp;hd=1&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="share-buttons">
      <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      </div>

      <div class="plus">
        <g:plusone size="medium"></g:plusone>
      </div>

      <div class="facebook">
        <div class="fb-like" data-href="http://nevergofullretard.info" data-send="false" data-layout="button_count" data-show-faces="true"></div>
      </div>
    </div>

    <p id="summary">You didn't see <a href="http://www.imdb.com/title/tt0942385/">Tropic Thunder</a>? Go watch it, there's still hope.</p>

    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

    <script>
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>
