<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Never go full retard</title>

    <meta property="og:title" content="Never go full retard"/>
    <meta property="og:type" content="movie"/>

    <meta property="og:image" content="http://ia.media-imdb.com/images/M/MV5BNDE5NjQzMDkzOF5BMl5BanBnXkFtZTcwODI3ODI3MQ@@._V1._SX640_SY900_.jpg"/>

    <style>
      body {
        font-family: "Times New Roman",Georgia,Serif;
        text-align: center;
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-761701-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1>Never go full retard</h1>

    <iframe src="http://player.vimeo.com/video/3945205?byline=0&amp;portrait=0&amp;color=59a5d1&amp;autoplay=1" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    <p>You didn't see <a href="http://www.imdb.com/title/tt0942385/">Tropic Thunder</a>? Go watch it, there's still hope.</p>
  </body>
</html>
