<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Never go full retard</title>

    <meta name="description" content="You went full retard, man. Never go full retard."/>
    <meta property="og:type" content="movie"/>
    <meta property="og:image" content="http://nevergofullretard.info/downey.jpg"/>

    <style>
      body {
        font-family: "Times New Roman",Georgia,Serif;
        text-align: center;
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-761701-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1>Never go full retard</h1>

    <iframe width="853" height="480" src="http://www.youtube.com/embed/KAlhuu5Hooo?rel=0&amp;hd=1&amp;autoplay=1&amp;start=117" frameborder="0" allowfullscreen></iframe>

    <p>You didn't see <a href="http://www.imdb.com/title/tt0942385/">Tropic Thunder</a>? Go watch it, there's still hope.</p>
  </body>
</html>
